body{
    background-color: #ffffff;
    background-image: url('../img/fsf.jpg');
    background-repeat: repeat-y;
    background-size: 105.3%;
    }

header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff00;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.rodape{
    padding: 3%;
}

.logo{
    padding: 0%;
    margin-left: 1%;
    margin-top: 1%;
    display: flex;
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;   
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.5em;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
    color:#645eb4
}

nav ul li {
    margin: 0 10px;
}

nav ul li a:hover {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #5e33ac98;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }
    
    nav ul li label {
        width: 100%;
        display: block;
    }
}

main{
    margin-top: 70px;
    padding: 20px;
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section{
    padding: 20px;
}

footer{
    /* background-color: blueviolet; */
    padding: 3%;
}

.logo {
    /*Diminui demais a minha imagem*/
}

h1,h2,li,figcaption{
    color: #ffff;
}

.caixa-img{
    text-align: center;
    margin-top: 1%;
}

figure{
    width: 70%;
}

figure img{
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 8px darkblue;
    max-width: 100%;
    height: auto;
}

figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: yellow;
}

menu{

}



#menu ul li {
    display: inline; 
    font-size: 1,2em;
}

#menu ul li a { 
    padding: 2px 1px; 
    display: inline-block;
    text-decoration: none; 
    border-bottom:3px none #5900ffad; 
    white-space: nowrap;
    color: #5900ffad;
}

nav { 
    padding:0px;
    margin:0px;
    background-color:#ffffff00;
    display: flex;
    width: 47%;
}

footer{
    padding: 3%;
    color: rgb(183, 105, 255);
}